.status {
	border: 1px solid #cfc9c9;
	border-radius: 7px;
	padding: 32px 8px;
	margin-top: 16px;

	&__list {
		flex-direction: column;
		width: 100%;
		align-items: flex-start;
	}
}

.loading {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
